.oppgave-dato-container, .oppgave-enhet-container {
  display: flex;
  justify-content: space-between;
}

.velg-enhet-dropdown {
  width: 11rem;
  height: 2.385rem;

  .sokfilter {
    padding: 0.5rem;

    &__input {
      height: 2rem;
    }
  }

  &__button {
    border-radius: 4px;
    text-align: left;
    border: 1px solid #78706A;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__button:hover {
    border: 1px solid #0067c5;
    color: #3e3832;
  }

  &__button:focus {
    outline: 0;
    box-shadow: 0 0 0 3px #FFBD66;
  }

  .dropdown__btn {
    width: inherit;
    height: inherit;
    padding: 0.45rem;
    background-color: white;
  }

  .dropdown__btn:hover {
    color: #3e3832;
  }

  .dropdown__btn:hover:after {
    background: #3e3832;
  }

  .dropdown__btn:hover:before {
    background: #3e3832;
  }

}
