@import '~nav-frontend-core/less/_variabler';

.visittkortfs {
    .knapp-fss {
        border: 1px solid @navMorkGra;
        color: @navMorkGra;
        font-weight: normal;
        text-transform: none;
        border-radius: 4px;

        .knapp-fss__icon {
            width: 2rem;
            height: 1.5rem;
        }
        .knapp-fss__span {
            margin: 0;
        }

        .knapp-fss__icon:first-child {
            stroke: @navMorkGra;
            fill: none;
        }

        .icon--filled:first-child {
            stroke: @navMorkGra;
            fill: @navMorkGra;
        }
    }

    .knapp-fss:hover {
        background-color: @navMorkGra;
        color: white;

        .knapp-fss__icon:first-child {
            stroke: white;
            fill: none;
        }
    }
}
