@import '~nav-frontend-core/less/_variabler';

.visittkortfs {
    .huskelapp-knapp {
        padding: 0;
        margin-left: 0.5rem;
        border: none;
        width: 2rem;

        &__icon {
            width: 1.2rem;
            height: 1.3rem;
        }

        .huskelapp-knapp:first-child {
            stroke: @navMorkGra;
            fill: none;
        }
    }

    .huskelapp-knapp:hover {
        background-color: @navMorkGra;
        border: none;

        svg {
            #Arbeidslistekategori_tom {
                stroke: white;
            }
        }
    }

    .huskelapp-knapp:focus {
        border: none;

        .icon--filled:first-child {
            stroke: @navBla;
            fill: @navBla;
        }

        svg:first-child {
            stroke: @navMorkGra;
            fill: none;
        }
    }

    .huskelapp-knapp:active {
        border: none;
    }
}

.huskelappmodal-innhold {
    display: grid;
    grid-auto-flow: column;

    .huskelapp-innhold, .arbeidslisteInnhold {
        margin-top: 0.6rem;
    }

    .huskelapp-visning {
        position: relative;
        background: var(--a-limegreen-100);
        margin-bottom: var(--a-spacing-10);
        padding: var(--a-spacing-3) var(--a-spacing-5);
        display: flex;
        flex-direction: column;

        overflow: hidden;

        .navds-body-short {
            margin-top: var(--a-spacing-3)
        }
    }

    .huskelapp-visning:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-width: 0 18px 18px 0;
        border-style: solid;
        background: white;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
        /* Firefox 3.0 damage limitation */
        display: block;
        width: 0;
        border-color: darken(rgba(249, 252, 204, 1), 10%) transparent;
    }

    .frist-info {
        background-color: var(--ac-alert-info-bg, var(--a-surface-info-subtle));
        border: 1px solid var(--ac-alert-info-border, var(--a-border-info));
        padding: var(--a-spacing-1) var(--a-spacing-2);
        display: inline;
        font-size: 16px;
        border-radius: var(--a-border-radius-medium);

        svg {
            display: none;
        }

    }

    .arbeidslisteInnhold {
        background-color: @navLysGra;
        padding: 0.5rem;
        margin-bottom: 1rem;
        margin-left: 1.5rem;
        border-radius: @border-radius-base;

        .font-xs {
            font-size: 14px;
        }

        .huskelapp-alert {
            margin-top: 0.6rem;
        }

        .navds-button {
            color: white;
            background-color: var(--a-gray-700);
        }
    }

    .huskelapp-alert {
        margin-bottom: 0.6rem;
    }
}

.huskelapp-modal-footer {
    display: flex;
    justify-content: flex-end;

    button {
        margin-left: 0.5rem;
    }

}








