.visittkortfs {
    .visittkortfs__container {
        .veilederverktoy-dropdown-button {
            align-self: center;

            & * {
                font-weight: normal;
            }
        }

        .veilederverktoy-dropdown-menyliste * {
            color: var(--a-text-default);
        }
    }
}
