.visittkortfs {
    .veilederverktoy-dropdown {
        display: flex;
        justify-content: flex-end;
        margin: auto 0;

        font-size: 1rem;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .knapp-fss__icon {
            width: 24px;
            height: 24px;
            margin-right: 3px;
        }
    }
}
