.visittkortfs {
    .tildel-veileder-dropdown {
        margin-bottom: 0;

        &-select-med-sok__innhold {
            right: 0;
            width: 250px;
        }

        .select-med-sok__btn {
            padding: 0.35rem 2rem 0.5rem 1rem;
        }
    }

    .tildel-veileder-slette-advarsel {
        margin-bottom: 1rem;
    }
}

.veilederverktoy-modal {
    min-width: min(25rem, 92vw); // Set ei minimumsbreidd, men let modalen krympe utan overflow på små skjermar

    .tildel-veileder__form {
        .radio-filterform {
            border-bottom: 1px solid var(--a-gray-900);
        }

        .radio-filterform__valg {
            padding-bottom: 0.5rem;
            padding-left: 0.5rem;

            .skjemaelement {
                margin: 1rem 0 0;
            }
        }
    }

    .modal-footer {
        margin-top: 1rem;

        .bekreft-btn {
            margin-right: 1rem;
        }
    }
}

.veilarbvisittkortfs-varsel-modal {
    .feil-modal-normaltekst {
        margin-bottom: 1rem;
    }
}
