@import '~nav-datovelger/dist/datovelger/styles/datovelger.css';

.visittkortfs {

  .arbeidsliste-content {
    padding: 2rem 2rem 0 2rem;
    &__normaltekst {
      padding-left: 2rem;
    }
    &__listetekst {
      padding-left: 1rem;
      padding-bottom: 0.5rem;
      p {
        margin-bottom: 0.2rem;
      }
    }

    .nav-datovelger__input {
      border: 1px solid #78706A;
    }

    .input-fields {
      padding: 1rem 2rem;
      border: 0;
    }
    &__arbeidslistekommentar {
      width: 100%;
      padding-bottom: 0.6rem;
    }

    .typo-undertittel {
      margin-bottom: 0.5rem;
    }

    .skjemaelement--harFeil textarea {
      margin-bottom: 0.5rem;
    }

    .knapp--hoved {
      margin-right: 1rem;
    }

    .skjemaelement__label {
      margin-bottom: .25em;
    }
    .arbeidsliste--modal-redigering {
      margin-bottom: 0.625rem;
    }

    .innhold {
      padding: 1.7rem 2rem;
    }
  }
}





