@import '~nav-datovelger/dist/datovelger/styles/datovelger.css';

.visittkortfs-modal {
    .fjern--knapp {
        margin-left: auto;

        svg {
            margin-right: 0.3rem;
            margin-bottom: -0.1rem;
        }
    }
}
