@import (reference) '~nav-frontend-core/less/_variabler';

.visittkortfs__tilbakelenke {
    color: @navBla;
    text-decoration: none;
    font-family: Source Sans Pro, Arial, sans-serif;

    &--chevron {
        margin-bottom: 0.25rem;
    }

    &:hover {
        .visittkortfs__tilbakelenke--tekst {
            border-bottom: 1px solid @navBla;
        }
    }
}
