@import (reference) '~nav-frontend-core/less/_variabler';

.visittkortfs__tilbakelenke {
    margin-top: 0.8rem;
    color: @navMorkGra;
    padding: 0 0.5rem 0 1rem;
}
.visittkortfs__tilbakelenke:hover {
    color: @navBla;
}
