.visittkortfs__tilbakelenke {
    color: var(--a-text-default);
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    margin-right: 0.5rem;
    outline: none;
}

.visittkortfs__tilbakelenke:hover {
    color: var(--a-text-action);
}

.visittkortfs__tilbakelenke:focus {
    box-shadow: 0 0 0 3px var(--a-border-focus);
    color: var(--a-text-action);
    border-radius: 4px;
}
