.visittkortfs__tilbakelenke {
    color: var(--ax-text-neutral);
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    margin-right: 0.5rem;
    outline: none;
}

.visittkortfs__tilbakelenke:hover {
    color: var(--ax-text-accent-subtle);
}

.visittkortfs__tilbakelenke:focus {
    box-shadow: 0 0 0 3px var(--ax-border-focus);
    color: var(--ax-text-accent-subtle);
    border-radius: 4px;
}
