.visittkortfs-modal.opprett-oppgave {
    &__undertittel {
        margin-bottom: 1rem;
    }

    .modal-footer > .bekreft-btn {
        margin-top: 1rem;
        margin-right: 1rem;
    }
}

.velgenhet-spinner {
    margin-right: 9rem;
}

.oppgave-type-og-prioritet-container,
.oppgave-dato-container,
.oppgave-enhet-container {
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    row-gap: 1rem;
}
