.veilederverktoyslinje {
  width: 50%;
  padding-left: 3rem;
  &__container {
    padding-top: 2rem;
    display: flex;
  }
  &__container > * {
    margin-left: 0.7rem;
  }

  .knapp {
    padding: 0 1.2rem 0 1.2rem;
    border-radius: 0.2rem;
  }
}

.arbeidsliste__knapp {
  border-radius: 0.15rem;
  padding: 0 0.5rem 0 0.4rem;
  font-size: 0.9rem;

  img {
    padding: 0.2rem 0.3rem 0 0.2rem;
  }
}

  .veilederverktoy_knapp {
    border-radius: 0.15rem;
    padding: 0 1rem 0.2rem 2rem;
    font-size: 0.9rem;

    img {
      padding: 0.2rem 0.3rem 0 0.2rem;
    }

}