.veilederverktoyslinje {
  width: 50%;

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__container > * {
    margin-left: 1rem;
  }

  &__container > *:first-child {
    margin-left: 0;
  }

}
