.datovelger {
  position: relative;
  width: 100%;

  &__input {
    width: 150px;

    &::-ms-clear {
      display: none;
    }
  }

  &__inner {
    display: inline-block;
  }

  &__inputContainer {
    display: flex;
    margin-bottom: 0;
  }

  &__toggleDayPicker {
    display: none;
  }

  &__DayPicker {
    display: none;
  }
}


.datovelger--harFeil {
  .nav-datovelger__input {
    border-color: #BA3A26;
    background-color: #F3E3E3;
  }

  .nav-datovelger__kalenderknapp {
    border-color: #BA3A26;
    background-color: #F3E3E3;
  }
}