
.visittkortfs {
    .knapp-fss {
        display: flex;
        align-items: center;
        border: 1px solid var(--a-border-default);
        color: var(--a-gray-800);
        font-weight: normal;
        text-transform: none;
        border-radius: 4px;

        .knapp-fss__span {
            margin: 0;
        }

        .knapp-fss__icon:first-child {
            stroke: var(--a-gray-800);
            fill: none;
        }
    }

    .knapp-fss:hover {
        background-color: var(--a-gray-100);

        .knapp-fss__icon:first-child {
            //stroke: white;
            //fill: none;
        }
    }
}
