.visittkortfs {
    .huskelapp-visning-modal-body {
        padding-bottom: 0;

        .huskelapp-innhold {
            display: flex;
            flex-direction: column;
            padding: var(--a-spacing-4);
            min-width: 20rem;
            max-width: 24rem;
            word-wrap: break-word;
        }

        .huskelapp-visning-modal__endret-av {
            margin-top: var(--a-spacing-2);
        }
    }
}
