@import '~nav-frontend-core/less/_variabler';
@import '~nav-datovelger/dist/datovelger/styles/datovelger.css';

.visittkortfs-modal {
    .fjern--knapp {
        margin-left: auto;

        svg {
            margin-right: 0.3rem;
            margin-bottom: -0.1rem;
        }
    }
}
.visittkortfs {
    .arbeidsliste-knapp {
        padding: 0;
        margin-left: 0.5rem;
        border: none;

        .icon--filled:first-child {
            stroke: @navBla;
            fill: @navBla;
        }

        .knapp-fss__icon {
            width: 1.7rem;
            height: 2rem;
            padding-left: 8px;
        }
    }

    .arbeidsliste-knapp:active {
        border: none;
    }
}
