@import '~nav-frontend-core/less/_variabler';
@import '~nav-datovelger/dist/datovelger/styles/datovelger.css';

.visittkortfs-modal {
    .fjern--knapp {
        margin-left: auto;

        svg {
            margin-right: 0.3rem;
            margin-bottom: -0.1rem;
        }
    }
}

.visittkortfs {
    .arbeidsliste-knapp {
        padding: 0;
        margin-left: 0.5rem;
        border: none;

        &__icon {
            width: 1.2rem;
            height: 1.3rem;
        }

        .arbeidsliste-knapp__icon:first-child {
            stroke: @navMorkGra;
            fill: none;
        }
    }

    .arbeidsliste-knapp:hover {
        background-color: @navMorkGra;
        border: none;

        svg {
            #Arbeidslisteikon_tom {
                stroke: white;
            }
        }
    }

    .arbeidsliste-knapp:focus {
        background-color: white;
        border: none;

        .icon--filled:first-child {
            stroke: @navBla;
            fill: @navBla;
        }

        svg:first-child {
            stroke: @navMorkGra;
            fill: none;
        }
    }

    .arbeidsliste-knapp:active {
        border: none;
    }
}
