@import '~nav-frontend-core/less/_variabler';

.visittkortfs {
    .meny-knapp {
        border: none;
        color: @navMorkGra;
        font-weight: normal;
        text-transform: none;
        padding: 0 0.5rem;
        width: 100%;
        height: 2.5rem;
        justify-content: left;
    }
    .meny-knapp:hover {
        background-color: @navMorkGra;
        color: white;
    }
}
