.visittkortfs {

  .toast-wrapper {
    z-index: 1000;
    top: 1rem;
    display: flex;
    justify-content: flex-end;
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
    position: relative;
  }

  .toast:focus {
    outline: none;
    box-shadow: 0 0 0 3px #FFBD66;
  }
  .toast {
    background-color: #3E3832;
    color: white;
    font-family:'Source Sans Pro', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-radius: 0.2rem;
    height: 3rem;

    .toast--button {
      color: #66CBEC;
      cursor: pointer;
      padding: 0.9rem 2rem;
      margin-right: 1.5rem;
      border: none;
      background-color: #3E3832;
    }
    .toast--button:focus {
      outline: none;
      box-shadow: 0 0 0 3px #FFBD66;
    }
    .toast--button:hover {
      text-decoration: underline;
    }
    &__close {
      cursor: pointer;
    }
  }
}