.visittkortfs {
    .rediger-huskelapp-modal {
        max-width: min(60rem, 100% - 2rem); // max 60rem, men unngå at modalen treff kantane av vindauget på små skjermar

        .rediger-huskelapp-modal-header {
            display: flex;
            align-items: center;

            .rediger-huskelapp-modal-header__container {
                margin-left: 1rem;
            }

        }

        .rediger-huskelapp-modal-header-tekst {
            margin-left: 0.3rem;
        }

        .rediger-huskelapp-modal-personinfo {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            column-gap: 0.5rem;
            row-gap: 0.1rem;

            /* I oversikten er (nesten) all tekst 0.875rem, så vi etterliknar det på personinfoen her også.
             * Ikonet får likevel vere stort (tilsvarar 20px) */

            p, button span {
                font-size: var(--a-font-size-small);
            }

            svg {
                font-size: var(--a-font-size-xlarge);
            }
        }

        .rediger-huskelapp-modal-body {
            padding-bottom: 0;
            overflow: visible; // Gjer at focus-stylinga ikkje vert kutta sjølv om padding-bottom er 0.

            .huskelapp-skjema {
                max-width: 26rem;
                padding: var(--a-spacing-4);

                display: flex;
                flex-direction: column;
                gap: 1rem;

                form > :not(:last-child) {
                    margin-bottom: 1.125rem;
                }

                .rediger-huskelapp-skjema {
                    background-color: var(--a-bg-default);
                    padding-left: var(--a-spacing-2);
                    padding-right: var(--a-spacing-2);
                    padding-bottom: var(--a-spacing-4);
                }
            }
        }

        .rediger-huskelapp-modal-footer {
            align-items: end; // Dytter knappene til bunnen når bekreftelsesmeldingen vises
        }
    }
}
