.visittkortfs {
    .rediger-huskelapp-modal {
        max-width: min(60rem, 100% - 2rem); // max 60rem, men unngå at modalen treff kantane av vindauget på små skjermar

        .rediger-huskelapp-modal-body {
            padding-bottom: 0;
            overflow: visible; // Gjer at focus-stylinga ikkje vert kutta sjølv om padding-bottom er 0.

            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
        }

        .navds-modal__footer {
            align-items: end; // Dytter knappene til bunnen når bekreftelsesmeldingen vises
        }

        .rediger-huskelapp-modal-pil {
            position: relative;
            top: calc(50% - 10px);
        }

        .rediger-huskelapp-skjema {
            flex-basis: 17.75rem;
            flex-grow: 1;
            max-width: 26rem;
            padding:  0 1.5rem 0 1.5rem;
            background-color: rgb(249, 252, 204);

            display: flex;
            flex-direction: column;
            gap: 1.125rem;

            form > :not(:last-child) {
                margin-bottom: 1.125rem;
            }
        }

        .arbeidsliste-innhold {
            flex: 10 18rem;
            max-width: 40ch;

            background-color: var(--a-grayalpha-100);
            padding: 1rem;
            border-radius: var(--a-border-radius-medium);

            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            h3 {
                font-size: var(--a-font-size-medium); // 1rem, overskriv ds-styling for xsmall (1.125rem)
            }

            p {
                font-size: var(--a-font-size-small);
                line-height: var(--a-font-line-height-medium);
            }

            .arbeidsliste-innhold-frist {
                display: flex;
                align-items: center;
            }
        }

        #slett-arbeidsliste__knappevalg {
            margin-top: var(--a-spacing-2);
            display: flex;
            gap: 0.5rem;
            button {
                margin: 0;
            }
        }

        .sletting-av-arbeidsliste-feilet {
            margin-bottom: var(--a-spacing-4);
        }
    }
    .arbeidsliste-innhold-tekst {
        background-color: var(--a-bg-default);
        padding: 0 0.5rem 1rem 0.5rem;
    }
}
