.veilarbvisittkortfs-varsel-modal {
    overflow: visible;
    text-align: center;

    #varsel-ikon {
        margin-top: -3rem; //placerar en ikon med størrelsen 64x64 i mitten
        margin-left: 3rem;
    }

    .modal-footer {
        margin-top: 1rem;
        .navds-button--primary {
            margin-right: 1rem;
        }
    }

}