body {
    color: var(--ax-text-neutral);
}

.visittkortfs {
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    min-height: calc(67 / 16 * 1rem + var(--ax-space-4));
    max-width: calc(1920 / 16 * 1rem); /* 1920px */

    &__container {
        padding-right: 3rem;
        grid-template-columns: max-content 3fr 0.5fr;
        display: grid;
        align-items: center;
        width: 100%;
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: var(--ax-space-16);
        justify-self: end;
    }

    &__switch {
        white-space: nowrap;
    }

    @media (min-width: 1300px) {
        .visittkortfs__innhold {
            grid-template-columns: max-content 3fr 1fr;
            display: grid;
            width: 100%;
        }
    }
}
