@font-family: 'Source Sans Pro', Arial, sans-serif;
@line-height-base: 1.428571429;
@remUnit: 16;
@fontWeightBold: 600;
@fontWeightNormal: 400;

.visittkortfs {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: 1rem;
  }
}