@import (reference) '~nav-frontend-core/less/_variabler';

.visittkortfs {
  margin: 0 auto;
  padding: 1rem 0;
  max-width: 1200px;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
  }

}

@media (max-width: 1280px) {
  .visittkortfs {
    padding: 1rem 1rem;
  }
}
