.visittkortfs-modal {
    .historikk {
        &__modal {
            max-height: 40rem;
            overflow-y: auto;
        }
        &__elem {
            padding-bottom: 0.5rem;
        }
    }
}
