name: Sjekk at koden bygger

on: pull_request

jobs:
  build-application:
    name: Build application and run tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup node
        uses: actions/setup-node@v6
        with:
            node-version: 20
            cache: npm
            registry-url: "https://npm.pkg.github.com"
      - name: Install dependencies
        run: npm ci
        env:
            NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: Run tests
        run: npm run test
      - name: Build application
        run: npm run build:mock
